
#pieChart {    
	position:relative;
	top:40%;
	left:10px;
	width:400px;
    height: 400px; 
    display: inline-block;
}


#barChart {
	position:relative;
	top:40%;
    height: 400px;
    display: inline-block;
}

.slice {
   font-size: 12pt;
   font-family: Verdana;
   fill: white;
   font-weight: bold;	
   cursor: pointer;
} 

button {
    position: absolute;
}
    
#blue {
    top: 1em;
    left: 1em;
}
    
#orange {
    top: 1em;
    left: 8em;
}
    
#green {
    top: 1em;
    left: 16em;
}
    
.node {
    stroke: white;
    stroke-width: 2px;
}
    
.link {
    stroke: gray;
    stroke-width: 4px;
}

#plano{
    width: 50%;
    margin: 0 auto;
    display: block;
    border: 1px solid #d9d9d9;
  }