{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Graficos de comunicación</h1>
    <div class="card mb-4 border-secondary ">
        <div class="card-header">Menu</div>
        <div class="card-body text-secondary">
            <a role="button" class="btn btn-outline-primary" href="/info">Manual</a>
            <a role="button" class="btn btn-outline-primary" href="/new_activity/new">Grabar nueva actividad</a>
            <br>
        </div>
    </div>
    <div class="card mb-4 border-secondary ">
        <div class="card-header">Registro de actividades</div>
        <div class="card-body text-secondary">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Start: date/time</th>
                        <th scope="col">End: date/time</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for idx, act in activities %}
                    <tr>
                        <th scope="row">{{ idx }}</th>
                        <td>{{ act.name }}</td>
                        <td>{{ act.startRecording }}</td>
                        <td>{{ act.endRecording }}</td>
                        <td><a href="act/{{act._id}}" class="btn btn-outline-info" role="button"><i class="fa fa-eye"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}